{% extends "website/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/heart.css' %}">
{% endblock css %}
{% block content %}
    <div class="media content-section">
        <img class="img" src="{{ object.movie.Poster }}">
        <div class="media-body ml-4">
            <form id="fav_form" action="{{ object.movie.imdbID }}/heart" method="POST" class="d-none">
                {% csrf_token %}
                {{ form }}
            </form>
            <span onclick="send_form()" class="mt-4 mr-4 float-right heart" style="cursor: pointer"></span>
            <h2>{{ object.movie.Title }}</h2>
            <p class="text-muted">{{ object.movie.Type }}</p>

            <p class="article-content">{{ object.movie.Plot }}</p>
            <p class="article-content">Director: {{ object.movie.Director }}</p>
            <p class="article-content">Release date: {{ object.movie.Year }}</p>
        </div>
    </div>
    <script type="text/javascript">
        function send_form() {
            form = document.getElementById('fav_form');
            if (form) {
                form.submit();
            }
        }
    </script>
{% endblock content %}

